
<%= form_for @customer do |form| %>
  <div class="form-group">
    <%= form.label :first_name %>
    <%= form.text_field :first_name, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :last_name %>
    <%= form.text_field :last_name, class: "form-control"  %>
  </div>
  
  <div class="form-group">
    <%= form.label :date_of_birth %>
    <div class="input-group date" data-date-format="yyyy-mm-dd" id ="datepicker">
      <%= form.text_field :dob, class: "form-control" %>
      
      <span class="input-group-addon">
        <i class="glyphicon glyphicon-calendar"></i>
      </span>
    </div>
  </div>
  

  <div class="form-group">
    <%= form.label :gender %>
    <%= form.select :gender, [['Male', 'M'], ['Female', 'F']], { include_blank: "--Select choice--" }, class: "form-control"%>
  </div>

  
  <%= form.submit  class: "btn btn-primary mt-2"%>

<% end %>

<script>
  $( function() {
      $("#datepicker").datepicker({ 
                autoclose: true, 
                todayHighlight: true,
            }).datepicker('update', new Date());
  } );
          
</script>